body{
    background-color: aquamarine;
}


#palo{

    top: 500px;
    left: 200px;
    width: 600px;
    position: relative;
    animation: animaciones-palo 5s;
    transform: rotate(45deg);

}

#mesa{

    position: absolute;
    width: 100vw;
}

#bola{
      
    position: relative;
    top: 400px;
    left: 110px;
    width: 50px;
    animation: animaciones-bola 15s;

}

@keyframes animaciones-palo {

    0% {
        transform: translateY(80px); rotate(45deg);  
    }

    20% {
        transform: translateY(100px); rotate(60deg);    
    }

    30% {
        transform: translateY(120px); rotate(80deg);    
    }

    50% {
        transform: translateY(140px); rotate(90deg);    
    }

    80% {
        transform: translateY(160px); rotate(120deg);    
    }

    100% {
        transform: translateY(160px); rotate(180deg);    
    }
}


@keyframes animaciones-bola {

    0% {
        transform: translate(0px,0px);  
    }

    50% {
        transform: translateY(270px); rotate(60deg);    
    }

    100% {
        transform: translate(270px,270px);    
    }


}



