
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');


header {

    background-color: brown;
    text-align: center;

}


img {

    border-radius: 800px;
    width: 200px;
    height: 150px;

}

a{
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
}

#navbar{

    text-align: center;
}


.caja {

        justify-content: center;
        display: block,
        width: 768px;
        height: 400px;
        background-color: yellow;
        border-radius: 50px ;
}

p{
    text-align: center;
}

footer{

    width: 100%;
    height: 70px;
    text-align: center;
    background-color: cadetblue;
    color: wheat;
    align-items: center;
   git
    
}



.caja2 {

  
    width: 100%;
    height: 300px;
    background-color: yellow;
    border-radius: 50px ;
    display: flex;
    justify-content: center;

}


.descripcion{

    width: 300px;
    height: 200px;
    background-color: tomato;
    margin: 50px;
  
  
    
}


.frase{

    width: 300px;
    height: 200px;
    background-color:red;
    border-radius: 50px;
    margin: 50px;
    
}


