#box{

    width: 1000px;
    height: 1000px;
    text-align: center;
    background-image: linear-gradient(to right, blue aqua);
    text-align: center;
}


h1{
    color: black;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 10px;
}


img{
    width: 400px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid greenyellow;
    margin-bottom: 30px;
}


p{
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid blue;
   
    

}


footer{


    background-color: coral;


}