*{  margin:0;
    box-sizing: border-box;
    padding: 0;
}


.header {

    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 2rem;

}



.header__nav{
    flex: 1;

}


.header__link{
    /*flex-direction: row;*/
    
    display: flex;
    justify-content: center;
    list-style: none;
    /*gap: define un espacio entre elementos
    y elemento en el eje principal*/
    gap: 2rem ;
}