@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

*{
  margin: 0px;
}


h1 {

    font-size: 20px;
    font color: red;
    font-family
}


#c1{
    color: salmon;
}
#c2{
    color: red;
}
#c3{
    color: royalblue;
}
#c4{
    color: rebeccapurple;
}
#c5{
    color: greenyellow;
    font-weight: bold;
}

#p1{
    color: blue;
    font-family: sans-serif;
    font-weight: bold;
}
#p2{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#p3{
    color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}
#p4{
    color: lightslategray;
    font-family: 'Times New Roman', Times, serif
}



#sp1{
    color: greenyellow;
    font-weight: bold;
    font-family: DotGothic16;
    font-size: 50px;
}


#sp2{
    color:brown;
    font-weight: bold;
    font-family: Akaya Telivigala;
    font-size: 50px;
}


#sp3{
    color: red;
    font-weight: bold;
    font-family: Stick;
    font-size: 50px;
}

